<html>
  <head>
    <meta name="txtweb-appkey" content="132cadde-50e7-470f-ae8e-c7d9216511da">
  </head>
  <body>
    {% if ongoing %}
  -- ONGOING --<br>
    {% for match in ongoing %}
    	
        {{match.srs}} - {{match.header.mnum}}<br>
        {% if match.displayBowlingTeamScore %}
        {{match.bowlingTeamName}} - {{match.displayBowlingTeamScore}}<br>
        {{match.battingTeamName}} - {{match.displayBattingTeamScore}}<br>
        
        {% if match.miniscore.striker.fullName %}
        {{match.miniscore.striker.fullName}}* - {{match.miniscore.striker.runs}}({{match.miniscore.striker.balls}})<br>
        {% endif %}
        
        {% if match.miniscore.nonStriker.fullName %}
        {{match.miniscore.nonStriker.fullName}} - {{match.miniscore.nonStriker.runs}}({{match.miniscore.nonStriker.balls}})<br>
        {% endif %}
        
        {% if match.miniscore.prevOvers %}
        Prev balls: {{match.miniscore.prevOvers}}<br>
        {% endif %}
        
        {% if match.miniscore.bowler.fullName %}
        {{match.miniscore.bowler.fullName}}*: {{match.miniscore.bowler.overs}}-{{match.miniscore.bowler.maidens}}-{{match.miniscore.bowler.runs}}-{{match.miniscore.bowler.wicket}}<br>
        {% endif %}
        
        {% if match.miniscore.nsbowler.fullName %}
        {{match.miniscore.nsbowler.fullName}}: {{match.miniscore.nsbowler.overs}}-{{match.miniscore.nsbowler.maidens}}-{{match.miniscore.nsbowler.runs}}-{{match.miniscore.nsbowler.wicket}}<br>
        {% endif %}
        
        {% if match.miniscore.cprtshp%}
        P'ship: {{match.miniscore.cprtshp}}<br>
        {% endif %}
        
        {% if match.miniscore.lWkt %}
        Last wkt: {{match.miniscore.lWkt}}<br>
        {% endif %}
        
        {% else %}
            {{match.team1.fName}} v {{match.team2.fName}}<br>
        {% endif %}
        {{match.header.status}}
        {% if match.addstatus %}
         ({{match.addstatus}})
        {% endif %}
        {% if match.header.MOM %}
         (MoM: {{match.header.MOM}})
        {% endif %}
        {% if match.datapath %}
        {% if match.miniscore.oversleft %}<br>
        Ovs left: {{match.miniscore.oversleft}}
        {% endif %}
        <br><a href="http://djangotest12.appspot.com/details/?url={{ match.datapath }}" > Scorecard </a>
        <br><a href="http://djangotest12.appspot.com/highlights/?url={{ match.datapath }}" > Highlights </a>
        {% endif %}
        <br>-<br>
        
    {% endfor %}
    {% endif %}
    
      {% if upcoming %}
  -- UPCOMING --<br>
    {% for match in upcoming %}

        {{match.srs}} - {{match.header.mnum}}<br>
        {% if match.displayBowlingTeamScore %}
        {{match.bowlingTeamName}} - {{match.displayBowlingTeamScore}}<br>
        {{match.battingTeamName}} - {{match.displayBattingTeamScore}}<br>
        
        {% if match.miniscore.striker.fullName %}
        {{match.miniscore.striker.fullName}}* - {{match.miniscore.striker.runs}}({{match.miniscore.striker.balls}})<br>
        {% endif %}
        
        {% if match.miniscore.nonStriker.fullName %}
        {{match.miniscore.nonStriker.fullName}} - {{match.miniscore.nonStriker.runs}}({{match.miniscore.nonStriker.balls}})<br>
        {% endif %}
        
        {% if match.miniscore.prevOvers %}
        Prev balls: {{match.miniscore.prevOvers}}<br>
        {% endif %}
        
        {% if match.miniscore.bowler.fullName %}
        {{match.miniscore.bowler.fullName}}*: {{match.miniscore.bowler.overs}}-{{match.miniscore.bowler.maidens}}-{{match.miniscore.bowler.runs}}-{{match.miniscore.bowler.wicket}}<br>
        {% endif %}
        
        {% if match.miniscore.nsbowler.fullName %}
        {{match.miniscore.nsbowler.fullName}}: {{match.miniscore.nsbowler.overs}}-{{match.miniscore.nsbowler.maidens}}-{{match.miniscore.nsbowler.runs}}-{{match.miniscore.nsbowler.wicket}}<br>
        {% endif %}
        
        {% if match.miniscore.cprtshp%}
        P'ship: {{match.miniscore.cprtshp}}<br>
        {% endif %}
        
        {% if match.miniscore.lWkt %}
        Last wkt: {{match.miniscore.lWkt}}<br>
        {% endif %}
        
        {% else %}
            {{match.team1.fName}} v {{match.team2.fName}}<br>
        {% endif %}
        {{match.header.status}}
        {% if match.addstatus %}
         ({{match.addstatus}})
        {% endif %}
        {% if match.header.MOM %}
         (MoM: {{match.header.MOM}})
        {% endif %}
        {% if match.datapath %}
        {% if match.miniscore.oversleft %}<br>
        Ovs left: {{match.miniscore.oversleft}}
        {% endif %}
        
        <br><a href="http://djangotest12.appspot.com/details/?url={{ match.datapath }}" > Scorecard </a>
        <br><a href="http://djangotest12.appspot.com/highlights/?url={{ match.datapath }}" > Highlights </a>
        {% endif %}
        {% if match.countdown %}
        <br>{{match.countdown}}
        {% endif %}
        <br>-<br>
        
    {% endfor %}
    {% endif %}
    
    
  {% if result %}
  -- RESULTS --<br>
    {% for match in result %}
        {{match.srs}} - {{match.header.mnum}}<br>
        {% if match.displayBowlingTeamScore %}
        {{match.bowlingTeamName}} - {{match.displayBowlingTeamScore}}<br>
        {{match.battingTeamName}} - {{match.displayBattingTeamScore}}<br>
        
        {% if match.miniscore.striker.fullName %}
        {{match.miniscore.striker.fullName}}* - {{match.miniscore.striker.runs}}({{match.miniscore.striker.balls}})<br>
        {% endif %}
        
        {% if match.miniscore.nonStriker.fullName %}
        {{match.miniscore.nonStriker.fullName}} - {{match.miniscore.nonStriker.runs}}({{match.miniscore.nonStriker.balls}})<br>
        {% endif %}
        
        {% if match.miniscore.prevOvers %}
        Prev balls: {{match.miniscore.prevOvers}}<br>
        {% endif %}
        
        {% if match.miniscore.bowler.fullName %}
        {{match.miniscore.bowler.fullName}}*: {{match.miniscore.bowler.overs}}-{{match.miniscore.bowler.maidens}}-{{match.miniscore.bowler.runs}}-{{match.miniscore.bowler.wicket}}<br>
        {% endif %}
        
        {% if match.miniscore.nsbowler.fullName %}
        {{match.miniscore.nsbowler.fullName}}: {{match.miniscore.nsbowler.overs}}-{{match.miniscore.nsbowler.maidens}}-{{match.miniscore.nsbowler.runs}}-{{match.miniscore.nsbowler.wicket}}<br>
        {% endif %}
        
        {% if match.miniscore.cprtshp%}
        P'ship: {{match.miniscore.cprtshp}}<br>
        {% endif %}
        
        {% if match.miniscore.lWkt %}
        Last wkt: {{match.miniscore.lWkt}}<br>
        {% endif %}
        
        {% else %}
            {{match.team1.fName}} v {{match.team2.fName}}<br>
        {% endif %}
        {{match.header.status}}
        {% if match.addstatus %}
         ({{match.addstatus}})
        {% endif %}
        {% if match.header.MOM %}
         (MoM: {{match.header.MOM}})
        {% endif %}

        {% if match.datapath %}
        {% if match.miniscore.oversleft %}<br>
        Ovs left: {{match.miniscore.oversleft}}
        {% endif %}
        <br><a href="http://djangotest12.appspot.com/details/?url={{ match.datapath }}" > Scorecard </a>
        <br><a href="http://djangotest12.appspot.com/highlights/?url={{ match.datapath }}" > Highlights </a>
        {% endif %}
        <br>-<br>
        
    {% endfor %}
    {% endif %}

<!-- <a href='http://ec2-184-169-171-66.us-west-1.compute.amazonaws.com/sportkit/scri_push.php?sub=1' class='txtweb-menu-to'> subscribe for live alerts </a><br> -->
  </body>
</html>