<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <meta name="txtweb-appkey" content="132cadde-50e7-470f-ae8e-c7d9216511da">
  </head>
  <body>
    {% for match in matches %}
    	{{match.series}} - {{match.matchdesc}}<br>
    	{% if match.bowlingTeamName %}
    	{{match.bowlingTeamName}} - {{match.displayBowlingTeamScore}}<br>
		{{match.battingTeamName}} - {{match.displayBattingTeamScore}}<br>
    	{{match.striker.fullName}}* - {{match.striker.runs}}({{match.striker.balls}})<br>
    	{{match.nonStriker.fullName}} - {{match.nonStriker.runs}}({{match.nonStriker.balls}})<br>
    	{{match.strikerbowler.fullName}}*: {{match.strikerbowler.overs}}-{{match.strikerbowler.maidens}}-{{match.strikerbowler.runs}}-{{match.strikerbowler.wickets}}<br>
    	{{match.nonStrikerbowler.fullName}}: {{match.nonStrikerbowler.overs}}-{{match.nonStrikerbowler.maidens}}-{{match.nonStrikerbowler.runs}}-{{match.nonStrikerbowler.wickets}}<br>
    	
    	{% else %}
    		{{match.team1.fullName}} v {{match.team2.fullName}}<br>
    	{% endif %}
    	{{match.status}}<br>-<br>
    {% endfor %}


  </body>
</html>